body{
  background-image: linear-gradient(#6db7e6, #8291a1);
  color: #4f3420;

}

#ep {
  width:10%;
  height:10%;
  float: left;
  margin: 0 15px 0 0;
}

#title {
  color: #d4aa99;
  background-color: #F8F8E7;
  text-align: center;
  min-width: 100px;
  min-height: 30px;
  padding: 10px;
  margin: 10px;
  border: 10px #fff6d9;
  border-left-style:double;
  border-right-style: groove;
  border-bottom-style: groove;
  border-top-style: double;
}



/* CSS */
/* the following styling sheet for the buttons are copied from https://getcssscan.com/css-buttons-examples*/
.button-19 {
  appearance: button;
  background-color: #6db7e6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #fff6d9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
