body{
  text-align:justify;
  min-width: 100px;
  min-height: 30px;
  padding: 10px;
  margin: 10px;
  border: 10px #5A866D;
  border-left-style:double;
  border-right-style: groove;
  border-bottom-style: groove;
  border-top-style: double;
  box-shadow: inset 0 0 0 1000px rgba(248,248,231,.7);
  background: linear-gradient(90deg, #F8F8E7, #4E5F55, #5A866D);
  background-size: 150% 150%;
  animation: gradient 10s ease-in infinite;
  font-family: din-round;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#title {
  text-align: center;
  min-width: 100px;
  min-height: 30px;
  padding: 10px;
  margin: 10px;
  border: 10px #5A866D;
  border-left-style:double;
  border-right-style: groove;
  border-bottom-style: groove;
  border-top-style: double;
  box-shadow: inset 0 0 0 1000px rgba(248,248,231,.5);
  background-color: rgba(248,248,231,.3);

}

#img1 {
  width: 90px;
  height: auto;
  margin: 10px;
  margin-right: 5%;
  margin-left: 5%;
  float: left;
}
#img2 {
  width: 90px;
  height: auto;
  margin: 10px;
  margin-right: 5%;
  margin-left: 5%;
  float: right;
}
/*froggy in output*/
#imgFrog {
  width: 90px;
  height: 70px;
  margin: 10px;
  margin-right: 5%;
  margin-left: 5%;
  float: right;
}
.writeup {
  background-color: #F8F8E7;
  text-shadow: rgba(0, 0, 0, .5) 2px 8px 8px -5px;
  border: 10px #5A866D double;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: all 50ms ease-in-out;
}
#output-container{
  text-align: center;
  background-color: #F8F8E7;
  text-shadow: rgba(0, 0, 0, .5) 2px 8px 8px -5px;
  border: 10px #5A866D double;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  transition: all 800ms ease-in-out;
  display:flex;
  height: 200px 5%;
}
.output-child{
  transition: all 200ms ease-in-out;
  flex: 2;
}

#text {
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
  border: 10px #5A866D double;
  border-right-style: groove;
  border-bottom-style: groove;
  text-indent: 10px;
  text-transform:full-width 10px;
}

/* CSS */
/*button referenced from https://getcssscan.com/css-buttons-examples*/
.button-55 {
  align-self: center;
  background-color: #F8F8E7;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;

  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-width: 2px;
  border: 10px #5A866D;
  border-left-style:double;
  border-right-style: groove;
  border-bottom-style: groove;
  border-top-style: double;

  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: din-round;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
